html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
}

body{
    height: 100%;
    font-family: minion-pro, minion pro, serif;
    color: #ffffff;
}

.header{
    width: 100%;
/*    position: fixed;*/
}

.mobile-break{
    display: none;
}

h1{
    font-family: minion-pro-display, serif;   
    font-weight: 500 !important;
    text-align: center;
    font-size: 280px;
    letter-spacing: -0.01em;
    line-height: 220px;
    margin-top: -150px;
    margin-bottom: 0px;
}

#a1{
    margin-left: -2px;
}

#a2{
    margin-left: -21px;
}

#o1{
    margin-left: -1px;
    margin-right: -10px;
}

#o2{
    margin-left: -9px;
    margin-right: -10px;
}

#i1{
    margin-left: -4px;
}

p{
    margin: 25px;
    margin-top: 7px;
    font-family: minion-pro-caption, serif;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
}

a{
    text-decoration: none;
    color: #ffffff;
    margin-right: 2px;
}

a:hover{
    text-decoration: underline;
}

.video-container{
    position: relative;
    padding-top: 25px;
/*    padding-top: 50vh;*/
/*    padding-bottom: 56.26%;*/
    height: 0;
}

#video{
/*    margin: auto auto;*/
    position: absolute;
    left: 25px;
/*    width: calc(100% - 50px);*/
    width: calc(100vw - 50px);
/*    height: 100%;*/
    height: calc(100vh - 50px);
    padding-bottom: 25px;
}