html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
}

body{
    height: 100%;
    font-family: minion-pro, minion pro, serif;
    color: #ffffff;
}

.header{
    width: 100%;
/*    position: fixed;*/
}

.mobile-break{
    display: none;
}

h1{
    font-family: minion-pro-display, serif;   
    font-weight: 500 !important;
    text-align: center;
    font-size: 280px;
    letter-spacing: -0.01em;
    line-height: 220px;
    margin-top: -150px;
    margin-bottom: 0px;
}

h2{
    font-family: minion-pro-display, serif;   
    font-weight: 400 !important;
    text-align: center;
    font-size: 5vw;
    line-height: 6vw;
    margin: 80px 60px;
    margin-bottom: 20px;

}

.press-header{
    width: 100%;
    margin-top: 150px !important;
    margin-bottom: 20px;
}

.pull-quote{
    margin-bottom: 10px;
}

.source{
    margin-bottom: 70px;
}

#press{
    margin-top: 25px;
    margin-bottom: 45px;
}

#a1{
    margin-left: -2px;
}

#a2{
    margin-left: -21px;
}

#o1{
    margin-left: -1px;
    margin-right: -10px;
}

#o2{
    margin-left: -9px;
    margin-right: -10px;
}

#i1{
    margin-left: -4px;
}

p{
    margin: 25px;
    margin-top: 7px;
    font-family: minion-pro-caption, serif;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
}

a{
    text-decoration: none;
    color: #ffffff;
    margin-right: 2px;
}

a:hover{
    text-decoration: underline;
}

.video-container{
    position: relative;
    padding-top: 25px;
/*    padding-top: 50vh;*/
/*    padding-bottom: 56.26%;*/
    height: 0;
}

.press-video-container{
    position: relative;
    margin: auto auto;
    height: 0;
    width: calc(100% - 100px);
    padding-bottom: 56.26%;
}

#video{
/*    margin: auto auto;*/
    position: absolute;
    left: 25px;
/*    width: calc(100% - 50px);*/
    width: calc(100vw - 50px);
/*    height: 100%;*/
    height: calc(100vh - 50px);
    padding-bottom: 25px;
}

.press-vid{
    position: absolute;
    width: 100%;
    height: 100%;
}

.image-container{
    margin: auto auto;
    width: calc(100% - 100px);
}

.image{
    width: 100%;
}

.spotify-container{
    position: relative;
    margin: auto auto !important;
    width: calc(100% - 100px);
    height: 380px;
}

#spotify{
    position: absolute;
    width: 100%;
    height: 100%;
}

.bio{
/*    margin: 50px;*/
    margin-bottom: 20px;
    text-align: left;
}

.bio h2{
/*    margin: 10px 0px;*/
/*    text-align: left;*/
}

.appearances{
    margin-bottom: 7.5vw;
}

.app-heading{
    margin-top: 8vw !important;
}

.links{
    padding-bottom: 40px;
}